* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

div {
  height: 300px;
  width: 100%;
}
.one {
  background: pink;
  width: 100%;
  height: 120px;
}
.two {
  /* display: flex; */
}
.two1 {
  background: tomato;
  width: 100%;
  height: 300px;
  display: inline-block;
}
.two2 {
  background: gold;
  width: 100%;
  height: 300px;
  display: inline-block;
}
.three {
  background: #333;
  width: 100%;
  height: 120px;
}

@media screen and (min-width: 768px) {
  .two {
    display: flex;
    flex-direction: row;
  }
  .two1 {
    background: tomato;
    width: 20%;
    height: 300px;
    display: inline-block;
  }
  .two2 {
    background: gold;
    width: 80%;
    height: 300px;
    display: inline-block;
  }
}
